*{
    margin: 0;
    padding: 0;
    max-height: 100vh;
}


.admin{
    margin: 0;
    padding: 0;

    /* height: 100%; */
    overflow: hidden;

}

.my_h_93{
    height: 93.1vh;
}
.message{
    margin: 0;
    padding: 0;

    /* height: 100%; */
    overflow: hidden;
}
