

<div class="flex justify-start mb-4 items-start ">
    <img class="h-8 w-8 rounded-full ml-2" id="imgAvatar1"
        src="${senderImage}" alt="">
    <div
        class="bg-gray-500 text-white p-3  rounded-tr-lg rounded-bl-lg rounded-br-lg inline-block relative min-w-20  break-words max-w-sm w-1/5">
        <p class="inline  break-words ">${messageText}</p>
        <div class="absolute bottom-0 right-0  pr-5  flex items-end space-x-1">
            <span class="text-gray-200 text-xs">
                ${messageDate}
            </span>
        </div>
    </div>
</div>
